/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ifm-color-primary);
  padding: 0; 
  margin: 0; 
  width: 100vw; 
  height: 80vh;
  overflow: hidden; 
}

.heroImageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.heroImage {
  width: 100%; 
  height: 100%;
  object-fit: cover;

}